<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main_styles.css">
</head>
<body>
    <header><h1>Welcome</h1></header>
    <main>
        <div class="container">
            <div class="item">
                {{{body}}}
            </div>
        </div>
    </main>
    <footer class="footer">
        <p class="footertext">Footer</p>
    </footer>
    <script src="/public/js/form.js"></script>
</body>

</html>