<article>
  <h1 class="clip-header">Recent Matches and Clips</h1>
  {{#if espn}}
    <h2>ESPN</h2>
    <ul>
      {{#each espn}}
        <li><a
            href="https://youtu.be/{{id.videoId}}"
            target="_blank"
          >{{snippet.title}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if nbc}}
    <h2>NBC Sports</h2>
    <ul>
      {{#each nbc}}
        <li><a
            href="https://youtu.be/{{id.videoId}}"
            target="_blank"
          >{{snippet.title}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
</article>
<a class="nav-link active text" href="/">Back to home</a>