<article>
  <article>
    <div class="container">
        <div class="item">
            <h1>{{title}}</h1>
            <p>
                Create a new team 
            </p>
            <form method="POST" action="/addteam">
                <label class="label" for="search"> Enter a team name:
                    <input type="text" id="search" name="teamName">
                </label>
                <button class="button" type="submit" >search</button>
            </form>
        </div>
    </div>
</article>
<a href="/">Go back home</a>
</article>