<article>
  <h1>Fantasy Sports Forum</h1>
  <div id="forum">
    <div id="forum-mrp" hidden>
      <h2 id="forum-mrp-heading">Most Recent Posts</h2>
      <ul id="forum-mrp-list">
      </ul>
    </div>
    <div id="forum-disc" hidden>
      <h2 id="forum-disc-heading">Discussions</h2>
      <ul id="forum-disc-list"></ul>
    </div>
    {{#if session.user.username}}
      <button id="forum-cd-button">Create New Discussion</button>
    {{/if}}
  </div>
  <div id="forum-newdisc-form" hidden>
    <form id="newdisc-form">
      <label for="topic">Discussion Topic:</label>
      <input type="text" name="topic" id="topic" />
      <button type="submit">Submit</button>
    </form>
    <button id="forum-cd-cancel-button">Cancel</button>
  </div>
  <a href="/">Back to home</a>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script src="/public/js/forum.js"></script>
</article>