<article>
  {{#if alert}}
    <h1>{{alert}}</h1>
  {{/if}}
  {{#if session.user.username}}
    <h2>Welcome, {{session.user.username}}</h2>
    <a href="/myprofile">My Profile</a>
    <a href="/logout">Logout</a>
  {{else}}
    <form action="/login" method="POST" id="login-form">
      <label for="email">Enter your email:</label>
      <input type="text" name="email" id="email" placeholder="Email" />
      <label for="password">Enter a password:</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
      <button type="submit">Submit</button>
    </form>
    <a href="/signup">"Need to register? Click here to sign-up"</a>
  {{/if}}

  <ul id="home-articles" hidden></ul>
  <ul id="home-sports" hidden></ul>
  <div>
    <a href="/latestnews">Latest News</a>
    <a href="/player">Search for players</a>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script src="/public/js/home.js"></script>
</article>