<article>
  <div class="container mb-3 mt-3">
    <div class="row align-items-center">
      <div class="col">
        <a class="btn btn-secondary" href="/forum">Forums</a>
      </div>
      <div class="col">
        <a class="btn btn-secondary" href="/news">Latest news</a>
      </div>
      <div class="col">
        <a class="btn btn-secondary" href="/teamcreator">Create a team</a>
      </div>
      <div class="col">
        <a class="btn btn-secondary" href="/playersearch">Search for players</a>
      </div>
      <div class="col">
        <a class="btn btn-secondary" href="/teamsearch">Search for teams</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        {{#if alert}}
          <h1>{{alert}}</h1>
        {{/if}}
        {{#if session.user.username}}
          <h2>Welcome, {{session.user.username}}</h2>
          <a href="/profile">My Profile</a>
          <a href="/logout">Logout</a>
        {{else}}
          <h2>Login</h2>
          <form action="/login" method="POST" id="login-form">
            <div class="mb-2">
              <label for="email" class="form-label">Enter your email:</label>
              <input
                type="text"
                name="email"
                id="email"
                placeholder="Email"
                class="form-control"
              />
            </div>
            <div class="mb-2">
              <label for="password" class="form-label">Enter a password:</label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
                class="form-control"
              />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
          </form>
          <a class="btn" href="/signup">"Need to register? Click here to
            sign-up"</a>
        {{/if}}
      </div>
      <div class="col">
        <h2>Top Latest News Articles</h2>
        <ul id="home-articles" hidden></ul>
      </div>
      <div class="col">
        <h2>Top Active Sports</h2>
        <ul id="home-sports" hidden></ul>
      </div>
    </div>
  </div>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script src="/public/js/home.js"></script>
</article>