<article>
    <p>Latest NFL News</p>
    {{#if nflArticles}}
    <ul>
        {{#each nflArticles}}
        <li><a href="{{links.web.href}}" target="_blank">{{headline}}</a></li>
        {{/each}}
    </ul>
    {{/if}}
</article>
<a href="/">Go back home</a>