body {
  background-color: beige;
  font-family: Georgia, 'Cambria','Times New Roman', Times, serif;
}

#main-header {
  font-size: 80px;
  text-align: center;
}

.subheadings {
    font-size: 35px;
    margin: 10px;
    text-align: center;
}

.link {
  color: #0067f0;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
}

.alert-text {
    text-align: center;
}

.nav-item{
  border-bottom: 2px solid #333333;
  margin: 0px;
   padding: 0px;
}

.nav-item a{
  color: rgb(0, 0, 0)
}

.nav-item a:hover{
  color: rgb(1, 160, 160);
  
}

.header-titles{
  text-align: center;
}

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

#error-not-found{
  color: red;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 300px;
}
