body {
  background-color: beige;
  font-family: Georgia, 'Cambria','Times New Roman', Times, serif;

}

#main-header {
  font-size: 80px;
  text-align: center;

}

.subheadings {
    font-size: 35px;
    margin: 10px;
    text-align: center;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
}

.alert-text {
    text-align: center;

}
.nav-item{
  border-bottom: 2px solid #333333;
  margin: 0px;
   padding: 0px;
}
.nav-item a{
  color: rgb(0, 0, 0)
}
.nav-item a:hover{
  color: rgb(1, 160, 160);
  
}

.mb-2 input{
  background: linear-gradient(to top, rgba(30, 30, 30, 0.8)50%,rgba(30, 30, 30, 0.8)50%);

  color:white;
}
.mb-2 input:focus{
  color: white;
}
.clip-header{
  text-align: center;
}
.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

#error-not-found{
  color: red;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
}
